<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <title>MY APP</title>
	</head>
	<body>
	  <h2>{{base}}</h2>
	  <ul>
	  	{{#each results}}
	    <li class="result" data-name={{name}} data-message={{message}}>
	  	{{name}}, {{message}}
	    </li>
	 		{{/each}}
		</ul>
	  <form action="/message" method="POST">
	  	<input type="text" placeholder="name" name="name">
	  	<input type="text" placeholder="message" name="message">
	  	<button type ="button" id = "update">Update</button>
	  	<button type ="button" id = "delete">Delete</button>
	  	<button type="submit">Submit</button>
		</form>
		<script src="main.js"></script>
	</body>
</html>